@import url("base.css");
@import url("skeleton.css");


#header{
padding:5px 3px 5px 3px;
background-color:#9FC5EE;
border-radius: 0 0 5px 5px;
margin-bottom:20px;
border:1px solid #87A8CC;
border-top: 0;
}
#header a{
border-right:1px solid #87A8CC;
color:#fff;
font-weight:bold;
text-decoration:none;
text-shadow: 0 1px 2px rgba(0, 0, 0, .75);
padding: 7px 20px;
}
#header a:hover {
border-bottom:4px solid #87A8CC;
}
#header span{
float:right;
}
#header span a{
border-left:1px solid #87A8CC;
border-right:0;
}

#edit_find_user,
#list_add_user{
text-align:center;
background: url(../../icons/edit_find_user.png) no-repeat center top;
padding-top:140px;
}
#list_add_user{
background: url(../../icons/list_add_user.png) no-repeat center top;
}
#edit_find_user a,
#list_add_user a {
display: inline-block;
width: 80%;
}

#edit_find_user,
#list_add_user,
fieldset{
border: 1px solid #aaa;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

#key{
font-family:monospace;
}
table{
margin-bottom: 20px;
}
th{
font-weight:bold;
}
tr.clickable{
cursor: pointer;
}
tr.clickable:hover{
background:#9FC5EE;
}
td,
th {
padding: 2px 10px 2px 10px;
text-align:left;
}
td:first-child,
th:first-child {
padding-left: 8px;
-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}
#all-swimmers-heading {
float:left;
margin-right: 30px;
}
#all-schwimmers {
clear:left;
margin-top: 20px;
}
.dataTables_filter {
padding-left: 8px;
}
.dataTables_filter label {
font-weight:normal;
}
.dataTables_filter input {
width:150px;
}
td.notpaid, td.notdeliveried{
background-color:#FFC0CB;
width:20px;
border-left:1px solid black;
border-right:1px solid black;
}
td.paid, td.deliveried{
background-color:#90EE90;
width:20px;
border-left:1px solid black;
border-right:1px solid black;
}
table.table td,table.table th{
border:1px solid #E5E5E5;
padding:1px 10px;
}
table.table{
font-size:1.1em;
}
.rightBox{
border-radius:5px 5px 5px 5px;
box-shadow:0 1px 10px #444444;
padding:10px 30px;
margin-bottom:20px;
}
.rightBox p{
text-align:center;
font-size:1.2em;
font-weight:bold;
}
.fail{
background-color: #FF8888;
}
.success{
background-color: #90EE90;
}
fieldset{
padding:20px;
}
legend{
padding: 0 5px;
margin-left:10px;
}
form td{
vertical-align:middle;
}
input[type="text"]{
margin-bottom:2px;
}
label, select, input[type="text"]{
display:inline;
margin-right:4px;
}
select.short{
width:45px;
}
button:focus,
input[type="text"]:focus,
input:focus,
select:focus,
textarea:focus {
box-shadow: #ADD8E6 0 0 7px 0;
border-color: #ADD8E6;
z-index: 1;
outline: 0;
}
.label {
width: 25%;
}
fieldset table {
width: 100%;
}
fieldset td,
fieldset th {
/*vertical-align: top;*/
padding-bottom: 5px;
}
button[disabled="disabled"]{
background-color:black;
}
input[disabled="disabled"]{
background-color:#E5E5E5;
}
select.WForm_Date{
width:50px;
}
input.WForm_Date{
width:100px;
}
#nextFooter{
padding:5px 0 5px 3px;
background-color:#9FC5EE;
border-radius:5px 5px 0 0;
margin:20px auto 0 auto;
border:1px solid #87A8CC;
border-bottom: 0;
display:none;
position:fixed;
bottom:0px;
width:50%;
}
#endOfPage{
height:20px;
}
.centerbox{
position:absolute;
top:50px;
left:50px;
}
